@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

:root {
    --neon: #00ffe7;
    --bg-dark: #000;
    --text-light: #ffffff;
    --text-muted: #ccc;
    --card-bg: #111;
    --font-main: 'Rajdhani', sans-serif;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 2.8em;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    color: var(--neon);
}

h2 {
    font-size: 1.6em;
    font-weight: 700;
    margin: 10px 0;
    color: var(--neon);
}

.profile-photo {
    width: 160px;
    height: 160px;
    clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
    border: 5px solid var(--neon);
    box-shadow: 0 0 20px var(--neon), 0 0 40px var(--neon);
    margin-top: 20px;
    transition: transform 0.4s ease;
}

.profile-photo:hover {
    transform: scale(1.1);
}

.card {
    width: 80%;
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 20px;
    margin: 15px 0;
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    border: 1px solid var(--neon);
    color: var(--text-light);
    transition: background 0.4s ease, color 0.3s ease, box-shadow 0.4s ease;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 0 20px var(--neon);
    background: radial-gradient(circle at var(--x) var(--y), var(--neon), var(--card-bg));
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(120deg, transparent, var(--neon), transparent);
    transition: left 0.5s ease;
}

.card:hover::before {
    left: 100%;
}

.card.active {
    background-color: var(--neon);
    color: black;
    font-weight: 7
